[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "~=4.10"
python-dateutil = "~=2.9.0"

[dev-packages]
pytest = "==7.1.1"
pytest-cov = "==3.0.0"
pyyaml = "==6.0.1"
pre-commit = "~=2.21.0"
ipython = "*"
black = "*"
types-python-dateutil = "*"
